$bgColor:#b37676;
$buttonSize: 48px;


@mixin borderButton ($padding){
    background-color: transparent;
    border:2px solid #fff;
    min-height: 1.5em;
    border-radius:1.5em;
    color: #fff;
    cursor:pointer;
    display:inline-block;
    // DO PRZYCISKU VIEW PROGRAMM
    //padding: .5em 1em;
    // DO PRZYCISKU PLAY
    //padding: 1em;
    padding: $padding;
}

// @include borderButton(.5em 2.5em);

// SCROLLBARY

::-webkit-scrollbar {
    width: 5px;
}
/* track*/
::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    background-color: rgba(146, 128, 128, 0.411)  .5;
}
/* handle*/ 
::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
}

*{box-sizing: border-box;} //trzyma stronę
body{
    line-height: 1.8em;
    background-image: url("../img/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg");
    //cover: do przykrycia jakiegoś elementu, *cover przykrywa cały obszar
    background-size: cover;
    //background-size: contain;  zmieści się w borderze
    //background-repeat: no-repeat;
    background-position: center top;
    //background-position: 100px 200px;
    margin: 0;
    min-height: 100vh;
    // border: 10px dashed blue; - tutaj dla podglądu
    color: #f9fafa;


   
    

    > header{
    
        padding: clamp(.5em, 5vw, 5em);
        display:flex;
        justify-content: space-between;

        
        // BEZPOŚREDNIE WSZYSTKIE DZIECI HEADERA (DIV I NAV)
        > * {
            display: flex;
            align-items: center;
        }    

        .pageLogo{
            //border: 2px dashed red;
            a{
                color:inherit; //dziedziczony po rodzicu
                text-decoration: none;
                display: flex;
                align-items: center;
                b{
                    font-family: 'Philosopher';
                    font-size: clamp(1.5em, 2vw, 2.5em);                    
                    padding-left: 3em;
                }
            }
        }        
        
        nav{  
            border: 2px dashed rgb(77, 153, 74);
            position:relative;
            min-height: $buttonSize;                   
            // DOMYSLNE WYSWIETLANE+                    
            #toggler{display:none;}   
                        
            label{
                //border: 8px dashed rgb(255, 0, 0);
                position: absolute;
                width: $buttonSize;
                height: $buttonSize;
                right: 0;
                top: 0;
                cursor: pointer;
                
                // HAMBURGER
                div{
                    transition:.5s;
                    //border:2px solid rgb(218, 205, 25);  
                    background-color: rgb(255, 255, 255);                  
                    border-radius: 5px;
                    position: absolute;
                    width: 80%;
                    left:10%;
                    height: 10%;
                    // &:hover{
                        // border-color: green;
                        //}
                    &:nth-child(1){
                        top:17.5%;
                    }
                    &:nth-child(2){
                        top:45%;                            
                    }
                    &:nth-child(3){
                        top:72.5%;
                        //div:nth-child(1){   
                    }
                }
            }
                    // display: none;                    
                ul{                                  
                //border:2px dashed red;
                font-family: 'Lato';             
                background-color: rgba(78, 78, 75, 0.2);
                border-radius: 10px;
                padding:0 .7em;
                list-style: none;
                //display:flex;
                display: none;
                flex-direction: column;
                position: absolute;
                right:0;
                top:$buttonSize;
                margin:0;
    
                li{
                    padding:.7em .7em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        text-decoration: none;
                        color:inherit;
                        text-align: center;                        
                    }
                }
            }
    
                //#toggler:checked ~ ul{
                //   display:flex;
                //#toggler:checked ~ label{
            
            // PO KLIKNIĘCIU NA HAMBURGER    
            #toggler:checked{
                ~ ul {display: flex;}
                ~ label {
                    border-color: blue;
                    div{
                        &:nth-child(1){
                            //background-color: red;
                            transform: rotate(-135deg);
                            top:45%; // (100% minus połowa wysokosci
                        }
                        &:nth-child(2){
                            opacity:0;
                        }
                        &:nth-child(3){
                            transform: rotate(-45deg);
                            top:45%;
                        }
                    }            
                }
            }

            // NA DUŻE EKRANY
            @media (min-width:1200px){                    
                label{display: none;}
                ul{
                    font-size: 1.2em;
                    padding:  .6em 4em;
                    background-color: rgba(255, 255, 255, 0.2);
                    display: flex;
                    flex-direction: row;
                    position: static;

                }
            }
            
            


        }

        // NA DUŻE EKRANY
    // @media (min-width:768px){
    //   nav{
    //     ul{
    //       display:flex;
    //     }
    //   }
    // }

    }

    main{
        margin-top:10vh;
        //border:5px dashed rgb(185, 30, 24);
        padding: 0 1em;
        .wrapper{
            //border:5px dashed rgb(197, 187, 39);
            //display:flex;                 
            > header{
                //border:5px dsolid rgb(150, 33, 91);
                flex:1;
                font-family: 'Lemon';
                line-height: clamp(2.5em, 4vw, 3em);;
                h1{
                    margin-bottom: 0;
                    font-size: clamp(3em, 4vw, 4em);
                }
                h2{
                    margin-top: 0;
                    font-size: clamp(1.5em, 3vw, 2.5em);
                }
                button{
                @include borderButton(.5em 2.5em); 
                font-size: clamp(1em, 2vw, 1.5em);;
                margin-bottom: 10vh;
                }
            }
            >article{                
                flex:1;
                display: flex;
                align-items:flex-start;

                .playButton{
                    @include borderButton(1.5em);
                    border-radius: 50%;
                    position: relative;                                   
                    span{ 
                        position: absolute;                                                                     width: 100%;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 2.5em;
                    }
                }
                header{
                    .container{
                        padding-left: 1em;
                        overflow-y: scroll;
                        max-height:35vh;
                    }
                }
            }
            //  PRZENIESIONE NIŻEJ !!!!!
            // // URZĄDZENIA SZERSZE NIŻ 768px
            // @media(min-width:768px){
            //   display:flex;
            // }          
        }
        .about{
            h3{
                font-size: clamp(.5em, 3vw, 3em);;
                padding-left: .5em;
            }
        }
            // .about{
            //   border:2px dashed red;
            // }
            // URZĄDZENIA SZERSZE NIŻ 768px
            @media(min-width:768px){
                margin-left:15vw;
                .wrapper{
                    display:flex;
                    >article{
                        margin-right: 1em;
                        header .container{
                            padding: 30%;
                        }
                    }
                }
                .about{
                    width: 40%;
                }
            }
    } 


    footer{
        .social{
            display: flex;
            justify-content: space-evenly;
            padding: 2em;
        }
    }
    @media (min-width:768px){
        footer{            
            position:fixed;
            left:0;
            bottom: 0;
            .social {
                flex-direction: column;
                div{
                    margin: .8em;
                }
            }
        }
    }

}
 
            //.hamburger{
            //    border: 2px dashed rgb(187, 133, 33);
            //
            // na duże ekrany (media)
            //background-size: 100% auto; - dostosowuje się do szerokości strony